{% extends "package/base.html" %}

{% block subtitle %}{{ _('Localising') }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock%}

{% block breadcrumb_content %}
    {{super()}}
    <li><a href="/dataset/{{pkg.name}}/resource/{{c.resource.id}}/">{{ h.resource_display_name(c.resource)|truncate(30) }}</a></li>
    <li class="active"><a href="">Add location data</a></li>
{% endblock %}

{% block secondary_content %}

    <h2>Localising data</h2>
    <p>
    Using this tool you can add Latitude/Longitude data to a CSV that does not currently
    contain that information.  The CSV does need <strong>some</strong> location data, but
    this can be an Easting/Northing, or a postcode, from which the tool will derive a
    Lat/Lng.
    </p>

    <p>
    On the right is a list of the column headings from the uploaded CSV.  For each column
    heading you should specify the type of data it contains. If the type of data in the column
    does not appear in the dropdown, leave it blank.  This is to mark-up the CSV to identify
    which columns contain the Easting/Northing <strong>or</strong> postcode.
    </p>
{% endblock %}

{% block primary_content_inner %}

<p>
For each field in the list below, select the type of that field.  If it is
an easting, or a northing, or a postcode, select that value.  If the field
doesn't contain any location data - then leave it blank.
</p>

<form action='' method='POST'>
    <h4>{{c.resource.name}}</h4>
    <div>
        <table width="90%" cellpadding="8" cellspacing="8" style="margin-left: auto; margin-right: auto">
            {% for i,rowname in c.rownames %}
            <tr style="border-bottom: solid 1px #999;">
                <td>{{rowname}}</td>
                <td>
                    <select name="field_{{i}}">
                        <option value=""></option>
                        <option value="easting">Easting</option>
                        <option value="northing">Northing</option>
                        <option value="postcode">Postcode</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}


